@import "variables.scss";
@import "functions.scss";
/* Icon 1 */

#nav-icon1 {
  top: -13px;
  width: 47px;
  height: 45px;
  position: fixed;
  left: 80px;
  @media screen #{$md} {
    float: right;
    left: auto;
    right: 39px;
    top: -17px;
  }
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
  z-index: 3;

}

#nav-icon1 span {
  display: block;
  position: fixed;
  height: 6px;
  width: 100%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: -1px;
}

#nav-icon1 span:nth-child(2) {
  top: 11px;
}

#nav-icon1 span:nth-child(3) {
  top: 23px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  transform: translate(-60px,0);
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}