html *,
html *:before,
html *:after {
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}


*:before,
*:after {
  z-index: -1;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 1rem auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #E63147 0%,#EB655C 100%);
  border-image-slice: 1;
}
.btn-1-2:not(:disabled) {
  color: #fff;
  z-index: 33;
  border-radius: 6px;
  background: transparent;
}
.btn-1-2:before, .btn-1-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 80px solid $bluePartenor;
}
.btn-1-2:before {
  right: -50px;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.btn-1-2:after {
  left: -50px;
  border-left: 50px solid transparent;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.btn-1-2:hover {
    background-image: -webkit-linear-gradient(left, #E63147, #EB655C); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #E63147, #EB655C); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #E63147, #EB655C); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #E63147, #EB655C); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #E63147, #EB655C); /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .btn-1-2:hover:before {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
  }
  .btn-1-2:hover:after {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
  }


// button, input[type="submit"], .button {
//   background: -webkit-linear-gradient(left, #E63147 0%, #EB655C 100%);
//   background: -o-linear-gradient(left, #E63147 0%, #EB655C 100%);
//   background: linear-gradient(to right, #E63147 0%, #EB655C 100%);
//   border-image-slice: 1;
//   box-shadow: 0px 1.1px 10px #814844;
//   color: white;
//   font-family: -serif;
//   padding: 15px;
//   font-size: 20px;
//   cursor: pointer;
//   font-weight: 600;
//   font-size: 26px;
//   font-family: Open Sans, Regular;
//   border-radius: 6px;
//   &:hover {
//     background: white;
//     color: #E63147;
//     border: linear-gradient(to right, #E63147 0%, #EB655C 100%);
//     border-radius: 6px;
//   }

//   &:disabled {
//     background: #C8CCCF;
//     box-shadow: none;
//     color: rgba(0, 0, 0, 0.3);
//     cursor: default;
//   }
// }