//
//
//  FONT STYLE
//  author : JYG
//
//

// LETTER SPACING
.noLetterSpacing    {letter-spacing: normal;}
/* uncss:ignore */
.letterSpacing1     {letter-spacing: 1px}


@for $i from 0 through 50{
    .ls-#{$i}{
        letter-spacing: #{$i}px;
    }
}

@media screen #{$sm}{
    @for $i from 0 through 50{
        .ls-sm-#{$i}{
            letter-spacing: #{$i}px;
        }
    }
}




//
// FONT SIZE
//

/* uncss:ignore */
.fs-45{font-size: 45px;}
/* uncss:ignore */
.fs-60{font-size: 60px;}

@for $i from 8 through 70{
    .fs-#{$i}{
        font-size: #{$i}px !important;
    }
}

    // HDcomputer
    @media screen #{$hd}{
        @for $i from 8 through 70{
            .fs-hd-#{$i}{
                font-size: #{$i}px;
            }
        }
    }
    // xxcomputer
    @media screen #{$xxxl}{
        @for $i from 8 through 70{
            .fs-xxxl-#{$i}{
                font-size: #{$i}px;
            }
        }
    }
    // xcomputer
    @media screen #{$xl}{
        @for $i from 8 through 70{
            .fs-xl-#{$i}{
                font-size: #{$i}px;
            }
        }
    }
    // computer
    @media screen #{$lg}{
        @for $i from 8 through 70{
            .fs-lg-#{$i}{
                font-size: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{        
        .fs-md-70{font-size: 70px}
        @for $i from 8 through 70{
            .fs-md-#{$i}{
                font-size: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 8 through 70{
            .fs-sm-#{$i}{
                font-size: #{$i}px !important;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 8 through 70{
            .fs-xs-#{$i}{
                font-size: #{$i}px;
            }
        }
    }





//
// LINE HEIGHT
//

/* uncss:ignore */
.lineHeight1{line-height: 1;}
/* uncss:ignore */
.lh-40{line-height: 40px}
/* uncss:ignore */
.lh-70{line-height: 70px}

@for $i from 8 through 50{
    .lh-#{$i}{
        line-height: #{$i}px;
    }
}

    // HDcomputer
    @media screen #{$hd}{
        @for $i from 8 through 50{
            .lh-hd-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // xxcomputer
    @media screen #{$xxxl}{
        @for $i from 8 through 50{
            .lh-xxxl-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // xcomputer
    @media screen #{$xl}{
        @for $i from 8 through 50{
            .lh-xl-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // computer
    @media screen #{$lg}{
        @for $i from 8 through 50{
            .lh-lg-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 8 through 50{
            .lh-md-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 8 through 50{
            .lh-sm-#{$i}{
                line-height: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 8 through 50{
            .lh-xs-#{$i}{
                line-height: #{$i}px;
            }
        }
    }