.icon-right_arrow:before {
  content: "\e900";
  color: #e63147;
  cursor: pointer;
}

.icon-engrenages:before {
  content: "\e901";
  color: #e6424a;
  font-size: 140px;
}

.icon-menu:before {
  content: "\e903";
}

.icon-hr_rouge:before {
  content: "\e902";
  color: #e63147;
  font-size: 8px;
}

.icon-croix:before {
  content: "\e904";
  color: #fff;
  z-index: 3;
  cursor: pointer;
}

.icon-strategie:before {
  content: "\e907";
  color: #e63147;
}

.icon-design:before {
  content: "\e906";
  color: #e63147;
}

.icon-developpement:before {
  content: "\e905";
  color: #e63147;
}

.icon-icon_2_humans:before {
  content: "\e908";
  color: #e6434b;
  font-size: 95px;
  top: 100px;
}

.icon-Groupe-89 .path1:before {
  content: "\e909";
  color: #e6424a;
}
.icon-Groupe-89 .path2:before {
  content: "\e90b";
  color: #e63147;
  margin-left: -0.8046875em;
}
.icon-Groupe-89 .path3:before {
  content: "\e90c";
  color: #e63147;
  margin-left: -0.8046875em;
}
.icon-Groupe-89 .path4:before {
  content: "\e90d";
  color: #e63147;
  margin-left: -0.8046875em;
}

.icon-guirlande:before {
  content: "\e90a";
  color: #e63147;
  font-size: 70px;
}