//
//
//  MARGIN / PADDING
//  author : JYG
//
//







/**
*
*    MARGINS
*
*/


//
// MARGIN
//
@for $i from 0 through 300{
    .m-#{$i}{
        margin: #{$i}px;
    }
}

    // xxcomputer
    @media screen #{$xxxl}{
        @for $i from 0 through 300{
            .m-xxxl-#{$i}{
                margin: #{$i}px;
            }
        }
    }
    // computer
    @media screen #{$lg}{
        @for $i from 0 through 300{
            .m-lg-#{$i}{
                margin: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 300{
            .m-md-#{$i}{
                margin: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .m-sm-#{$i}{
                margin: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 300{
            .m-xs-#{$i}{
                margin: #{$i}px;
            }
        }
    }



//
//   MARGIN TOP
//

/* uncss:ignore */
.m-t-0{margin-top: 0;}
/* uncss:ignore */
.m-t-2{margin-top: 2px;}
/* uncss:ignore */
.m-t-10{margin-top: 10px;}

@for $i from 11 through 300{
    .m-t-#{$i}{
        margin-top: #{$i}px;
    }
}
    
    // xxcomputer
    @media screen #{$xxl}{
        @for $i from 0 through 300{
            .m-t-xxl-#{$i}{
                margin-top: #{$i}px;
            }
        }
    }
    // computer
    @media screen #{$lg}{
        @for $i from 0 through 300{
            .m-t-lg-#{$i}{
                margin-top: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        /* uncss:ignore */.p-r-md-25{padding-right: 25px;}
        @for $i from 0 through 300{
            .m-t-md-#{$i}{
                margin-top: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .m-t-sm-#{$i}{
                margin-top: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 300{
            .m-t-xs-#{$i}{
                margin-top: #{$i}px;
            }
        }
    }

//
// MARGIN RIGHT
//
@for $i from 0 through 300{
    .m-r-#{$i}{
        margin-right: #{$i}px;
    }
}

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 300{
            .m-r-lg-#{$i}{
                margin-right: #{$i}px;
            }
        }
    }    
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 300{
            .m-r-md-#{$i}{
                margin-right: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .m-r-sm-#{$i}{
                margin-right: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 300{
            .m-r-xs-#{$i}{
                margin-right: #{$i}px;
            }
        }
    }

    // xphonePort
    @media screen #{$xxs}{
        @for $i from 0 through 300{
            .m-r-xxs-#{$i}{
                margin-right: #{$i}px;
            }
        }
    }


//
// MARGIN BOTTOM
//


@for $i from 0 through 300{
    .m-b-#{$i}{
        margin-bottom: #{$i}px;
    }
}

    // xxcomputer
    @media screen #{$xxxl}{
        @for $i from 0 through 300{
            .m-b-xxxl-#{$i}{
                margin-bottom: #{$i}px;
            }
        }
    }

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 300{
            .m-b-lg-#{$i}{
                margin-bottom: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 300{
            .m-b-md-#{$i}{
                margin-bottom: #{$i}px;
            }
        }
    }    
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .m-b-sm-#{$i}{
                margin-bottom: #{$i}px;
            }
        }
    }   
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 300{
            .m-b-xs-#{$i}{
                margin-bottom: #{$i}px;
            }
        }
    }


//
// MARGIN LEFT
//
@for $i from 0 through 300{
    .m-l-#{$i}{
        margin-left: #{$i}px;
    }
}

    // HDcomputer
    @media screen #{$hd}{
        @for $i from 0 through 300{
            .m-l-hd-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }


    // xxxcomputer
    @media screen #{$xxxl}{
        @for $i from 0 through 300{
            .m-l-xxxl-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }

    // xxcomputer
    @media screen #{$xxl}{
        @for $i from 0 through 300{
            .m-l-xxl-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 300{
            .m-l-lg-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 300{
            .m-l-md-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }    
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .m-l-sm-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }   
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 300{
            .m-l-xs-#{$i}{
                margin-left: #{$i}px;
            }
        }
    }




/**
*
*    PADDING
*
*/

//
// PADDING
//
@for $i from 0 through 100{
    .p-#{$i}{
        padding: #{$i}px;
    }
}

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 100{
            .p-lg-#{$i}{
                padding: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 100{
            .p-md-#{$i}{
                padding: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 100{
            .p-sm-#{$i}{
                padding: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 100{
            .p-xs-#{$i}{
                padding: #{$i}px;
            }
        }
    }


//
// PADDING TOP
//

/* uncss:ignore */
.p-t-6{padding-top: 6px;}

@for $i from 0 through 100{
    .p-t-#{$i}{
        padding-top: #{$i}px;
    }
}    

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 100{
            .p-t-lg-#{$i}{
                padding-top: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 100{
            .p-t-md-#{$i}{
                padding-top: #{$i}px !important;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 300{
            .p-t-sm-#{$i}{
                padding-top: #{$i}px !important;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 100{
            .p-t-xs-#{$i}{
                padding-top: #{$i}px;
            }
        }
    }



//
// PADDING RIGHT
//

@for $i from 0 through 100{
    .p-r-#{$i}{
        padding-right: #{$i}px;
    }
}
    // computer
    @media screen #{$lg}{
        @for $i from 0 through 100{
            .p-r-lg-#{$i}{
                padding-right: #{$i}px;
            }
        }
    }    
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 100{
            .p-r-md-#{$i}{
                padding-right: #{$i}px;
            }
        }
    }
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 100{
            .p-r-sm-#{$i}{
                padding-right: #{$i}px;
            }
        }
    }
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 100{
            .p-r-xs-#{$i}{
                padding-right: #{$i}px;
            }
        }
    }

    // xphonePort
    @media screen #{$xxs}{
        @for $i from 0 through 100{
            .p-r-xxs-#{$i}{
                padding-right: #{$i}px;
            }
        }
    }


//
// PADDING BOTTOM
//
@for $i from 0 through 100{
    .p-b-#{$i}{
        padding-bottom: #{$i}px;
    }
}
    // computer
    @media screen #{$lg}{
        @for $i from 0 through 100{
            .p-b-lg-#{$i}{
                padding-bottom: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 100{
            .p-b-md-#{$i}{
                padding-bottom: #{$i}px !important;
            }
        }
    }    
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 100{
            .p-b-sm-#{$i}{
                padding-bottom: #{$i}px;
            }
        }
    }   
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 100{
            .p-b-xs-#{$i}{
                padding-bottom: #{$i}px;
            }
        }
    }


//
// PADDING LEFT
//

/* uncss:ignore */.p-l-0{padding-left: 0;}
/* uncss:ignore */.p-r-0{padding-right: 0;}

@for $i from 0 through 100{
    .p-l-#{$i}{
        padding-left: #{$i}px;
    }
}

    // computer
    @media screen #{$lg}{
        @for $i from 0 through 100{
            .p-l-lg-#{$i}{
                padding-left: #{$i}px;
            }
        }
    }
    // tablet
    @media screen #{$md}{
        @for $i from 0 through 100{
            .p-l-md-#{$i}{
                padding-left: #{$i}px !important;
            }
        }
    }    
    // phoneLand
    @media screen #{$sm}{
        @for $i from 0 through 100{
            .p-l-sm-#{$i}{
                padding-left: #{$i}px;
            }
        }
    }   
    // phonePort
    @media screen #{$xs}{
        @for $i from 0 through 100{
            .p-l-xs-#{$i}{
                padding-left: #{$i}px;
            }
        }
    }