@import "variables";
@import "fonts";
@import "svg";
@import "margins";
@import "icons";
@import "fonts";
@import "fonts_size";
@import "functions";
@import "grid";
@import "show_hide.scss";
@import "_burger.scss";
@import "_buttons.scss";


@media  #{$sm} {
  @media screen and (orientation: landscape) {
    .landscape {
      display: block;
      position: fixed;
      width: 100%;
      max-width: 100%;
      height: 100%;
      float: left;
      background: white;
      z-index: 1;
      div {
        margin-top: 23%;
      }
    }
  }
}

p, a, li, input, label {
  font-family: Open Sans, Regular;
  font-size: 18px;
}

li {
  list-style-type: none;
  font-size: 20px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: $hoverLink;
    }
  }
}

a:hover {
  text-decoration: none;
}

h3 {
  font-weight: 600;
  font-size: 33px;
  font-family: $Montserrat;
  color: $bluePartenor;
}

input {
  background: #f8f8f8;
  border: none;
  border-bottom: 1px solid $bleuCanard;
  outline: none;
  padding-bottom: 2px;
}

.noPadding {
  padding-right: 0;
  padding-left: 0;
}

.noMargin {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.noPaddingSm {
  @media screen #{$md} {
    padding-right: 0;
    padding-left: 0;
  }
}

/*HTML*/
body {
  margin: 0;
  height: 100%;
  font-family: roboto;
  background: $bgGrey;
  overflow-x: hidden;
}

#Menu, #MenuMobile {
  .cls-3 {
    fill: #213364;
  }
}

#Menu {
  position: fixed;
  background: $bluePartenor;
  z-index: 1;
  height: 100%;
  //width: 345px;
  aside {
    margin-top: 160px;
  }
  .croix {
    margin: 100px 70px;
    &:before {
      cursor: pointer;
    }
  }
  li {
    font-size: 18px;
    padding: 25px 0;
    a {
      cursor: pointer;
      &:hover {
        font-weight: 600;
        color: $hoverLink;
        transition: 0.3s;
      }
      span {
        padding: 7px 25px;
      }
      .zmdi-linkedin {
        padding: 4px 25px;
      }

      .zmdi:hover {
        color: $hoverLink;
        transition: 0.5s;
      }
    }
  }
  .social {
    display: inline-block;
  }
}

#MenuMobile {
  height: 100vh;
  background: $bluePartenor;
  z-index: 3;
  .croix {
    right: 0;
  }
  aside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    li {
      padding: 25px 0;
    }
    .social {
      display: inline-block;
      margin: 0 30px;
    }
  }
}

.logoBleu {
  width: 224px !important;
  max-width: 224px !important;
  height: 51px;
  margin-top: 6px;
  margin-left: 143px;
  @media  #{$md} {
    float: left;
  }
  @media screen #{$sm} {
    #ExpertisesDescriptionMobile {
      margin-left: 1px;
      top: -13px;
      .menuHoverWhite {
        padding: 39px 0px;
      }
    }
  }
}

#HomeHeader {
  background: $bluePartenor;
  height: 100vh;
  .centerHeader {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
  }
}

nav {
  position: fixed;
  z-index: 2;
  padding: 21px 0;
  @media screen #{$md} {
    padding: 34px 0;
    .logoBleu {
      margin-left: 4px;
      margin-top: 9px;
    }
  }
}

.relativeImp {
  position: relative !important;
}

#Quisommesnous {
  .description {
    margin-top: 22%;
    margin-left: 8%;
    @media screen #{$md} {
      margin-top: 12%;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .cls-1 {
    fill: #e63147;
  }
  .cls-2 {
    fill: none;
    stroke: #e63147;
    stroke-width: 11px;
  }
  .cls-3 {
    fill: none;
    stroke: #e6424a;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 9px;
    stroke-dasharray: 0 28;
  }
  .Rocket {
    padding-right: 50px;
  }
  .t-51p {
    top: 51%;
  }
  .rocket {
    margin-top: 30%;
  }
  .Elipse1 {
    height: 599px;
    width: 295px;
  }
  @media screen and (max-width: 1661px) {
    .rocket {
      display: none;
    }
    .Elipse1 {
      display: none;
    }
    .description {
      width: 81.25%;
      max-width: 81.25%;
    }
  }
  .elispse_mobile {
    margin: 0 auto;
    width: 8px;
    margin-top: 30px;
    margin-bottom: -60px;
  }
}

#quisommesnousDesc, #expertDesc {
  background: #fff;
  color: black;
  padding: 90px 60px;
  @media screen #{$sm} {
    padding: 90px 20px;
  }
  a {
    color: $red;
  }

}

#expertDesc {
  width: calc(60% - 30px);
  h3 {
    font-size: 48px;
    font-weight: bold;
    font-family: $Montserrat;
  }
}

#Nosexpertises {
  .button {
    font-size: 20px;
    padding: 11px;
  }
  padding-bottom: 10%;
  padding-top: 11%;
  .ulExpertiseHome {
    li {
      font-weight: 700;
      cursor: pointer;
      font-size: 18px;
      padding: 5px 0;
      padding: 12px 0px;
      a {
        color: $bluePartenor;
        &:hover {
          text-decoration: none;
          color: $hoverLink;
        }
      }
    }
  }

  .expertiseDesc {
    @media screen #{$sm} {
      text-align: center;
      box-shadow: none;
      background: #f8f8f8;
      a {
        float: none;
      }
    }
    .Conseil {
      @media screen #{$md} {
        margin-left: 12.5%;
      }
    }
  }
  @media screen and (max-width: 1661px) {
    .expertiseDesc {
      width: 75%;
      max-width: 75%;
      margin-left: 12.5%;
      @media screen #{$md} {
        margin-left: 0 !important;
      }
    }
  }
}

#Nosclients {
  background: white;
  margin-bottom: 10%;
}

#Expertises {
  nav {
    padding-bottom: 50px !important;
    @media screen #{$md} {
      padding-bottom: 80px !important;
    }
  }
  .ulExpertise {
    padding: 80px 0px;
    @media screen #{$md} {
      padding: 80px 0px;
    }
    @media screen #{$sm} {
      padding: 0;
    }
    li {
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;
      font-size: 18px;
      padding: 10px 0;
      color: $bluePartenor;
      &:hover {
        text-decoration: none;
        color: $hoverLink;
      }
    }
  }

  #ExpertisesDescription {
    h3 {
      font-size: 48px;
      font-weight: bold;
      font-family: $Montserrat;
      color: $bluePartenor;
    }
  }
  .blocExpertise {
    padding: 130px 17px 0 17px;
    @media screen #{$sm} {
      padding: 130px 17px 0 0;
    }
  }

  .btn-1-2 {
    padding: 19px 52px;
  }
}

.menuHoverWhite {
  padding-bottom: 30px;
  padding-top: 46px;
}
.logoBleu {
  margin-top: -18px;
}

#ExpertisesMobile {
  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    margin-left: 45px;
    position: fixed;
    display: inline-flex;
    z-index: 2;
    top: 73px;
    left: -24px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    @media screen #{$md} {
      top: 99px;
    }
    ul:nth-child(3) {
      margin-top: 5px;
      padding-bottom: 7px !important;
      @media screen #{$sm} {
        padding-bottom: 11px !important;
      }
    }
  }

  ul {
    padding-left: 23px;
  }
  li {
    display: -webkit-inline-box;
  }

}

.demarrer_projet {
  @media screen #{$md} {
    float: none !important;
  }
}

#Nosservices {
  background: white;
  padding: 60px 0;
  li {
    font-size: 14px;
    padding: 5px 0;
    a {
      color: black;
      &:hover {
        text-decoration: none;
        color: $hoverLink;
      }
    }
  }
  .centerUl {
    margin-left: 14.5%;
  }
  .dropdown {
    display: block;
  }
  .borderRedLeft {
    border-left: 2px solid $red;
  }
  .borderBottomRed {
    border-bottom: 1px solid $red;
  }
  .borderBottomWhite {
    border-bottom: 1px solid white;
  }
  .borderRedRight {
    border-right: 2px solid $red;
    width: 74%;
    height: 317px;
  }
  .icon-strategie, .icon-design, .icon-developpement {
    left: -42px;
  }
  .p-l-100-1208px {
    @media (min-width: 981px) and (max-width: 1208px) {
      padding-left: 0;
    }
  }
  .zmdi-caret-down {
    cursor: pointer;
  }
}

#Carriere {
  .img_carriere {
    top: 235px;
  }
  .icon-hr_rouge::before {
    color: black !important;
  }
  a:hover {
    text-decoration: none;
    span::before {
      transform: translateX(5px);
      font-size: 18px;
    }

  }

  @media (min-width: 1490px) and (max-width: 1641px) {
    h4 {
      margin-top: -45px;
    }
  }
  @media (min-width: 981px) and (max-width: 1490px) {
    h4 {
      width: 62.5%;
      max-width: 62.5%;
      margin-left: 18.75%;
    }
  }
  @media screen #{$md} {
    h4 {
      text-align: left;
    }
  }

  @media screen #{$sm} {
    .departement {
      text-align: left;
    }
    .descJob {
      margin-left: 0;
    }
    h4 {
      width: 68.75% !important;
      max-width: 68.75% !important;
    }
  }
  .icon-Groupe-89 {
    font-size: 141px;
    @media screen #{$md} {
      font-size: 110px;
    }
  }

  #contactezNous button {
    cursor: pointer;
    color: $red;
    padding: 19px 52px;
    &:hover {
      color: #fff;
    }
  }
}

#DescriptionPoste {
  .ulCarriere {
    display: inline-block;
  }
  .networks {
    border: 0; 
    overflow: hidden;
    width: 140;
    height: 28;
  }
  #candidatureForm {
    button {
      font-size: 36px;
      @media screen #{$sm} {
        font-size: 20px !important;
      }
      padding: 13px 71px;
    }
  }
}

@media screen #{$md} {
  #DescriptionPoste {
    .ulCarriere {
      position: fixed;
      width: 100px;
      right: 5px;
      z-index: 1;
      .social {
        display: block;
        width: 100%;
      }
    }
  }
}

.required {
  &:after {
    content: " *";
    color: $red;
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 0;
    z-index: 0;
  }
}

.requiredCV {
  &:after {
    content: " *";
    color: $red;
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 0;
  }
}

.required4:after {
  left: 95px;
  bottom: 50px;
  @media screen #{$md} {
    bottom: 20px;
  }
}

#Projet {

  #h2Projet {
    padding-top: 140px;
    @media screen #{$md} {
      padding-top: 0px;
    }
  }
  #formulaireProjet {
    input {
      margin: 15px;
      margin-bottom: 40px;
      @media screen #{$sm} {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  #amount {
    border: 0;
    color: #f6931f;
    font-weight: bold;
  }
  .inputRange {
    width: 50%;
    max-width: 50%;
    @media screen #{$sm} {
      width: calc(100% - 23px) !important;
    }
    .input-range__track--active {
      background: $hoverLink;
    }
    .input-range__slider {
      border: none;
      background: $hoverLink;
      width: 27px;
      height: 27px;
      margin-top: -16px;
    }
    .input-range__label {
      color: black;
      font-family: Open Sans, Regular;
      font-size: 17px;
    }
    .input-range__label-container {
      top: 55px;
    }
  }
  #ajoutEtCaptcha {
    label {
      right: -11px;
      top: 53px;
      @media screen #{$sm} {
        right: 0px;
        top: 0px;
      }
    }
    .textCaptcha {
      @media screen #{$sm} {
        margin: 0 auto;
        margin-top: 110px;
      }
    }
    span {
      font-family: Open Sans, Regular;
      margin-left: 15px;
    }
    @media screen #{$sm} {
      ul, li {
        line-height: 33px;
      }
    }

  }
  #validationProjet {
    button {
      font-size: 36px;
      padding: 13px 71px;
      @media screen #{$sm} {
        font-size: 27px;
        padding: 8px 10px;
      }
    }
  }
}

#vousAider {
  .expertises {
    float: left;
    margin-top: 12px;
    @media screen #{$md} {
      margin-right: 10px;
      float: none;
      text-align: center;
      input {
        margin-bottom: 10px;
      }
    }
    input {
      border: 1px solid $hoverLink;
      border-radius: 5px;
      text-align: center;
      padding: 7px;
      float: left;
      margin-right: 15px;
      cursor: pointer;
      color: black;
    }
    .selected {
      background: $hoverLink;
      font-weight: 600;
      color: white;
      border: 1px solid;
    }
  }
}

#budget {
  input[type=range] {
    border: none;
  }
  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: $hoverLink;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: $hoverLink;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $hoverLink;
  }
  input[type=range]::-moz-range-track {
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: $hoverLink;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: $hoverLink;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $hoverLink;
    border: 0px solid #000101;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: $hoverLink;
    border: 0px solid #000101;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: $hoverLink;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $hoverLink;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $hoverLink;
  }

  .inputRangeTight {
    .input-range__slider-container .input-range__label-container {
      left: -50px !important;
    }
    .input-range__slider-container:last-child .input-range__label-container {
      left: 15px !important;
    }
  }

}

.expertList {
  background: $bluePartenor;
  li {
    padding: 10px 0px;
    &:first-of-type {
      padding-top: 30px;
    }
    &:last-of-type {
      padding-bottom: 30px;
    }
    padding-right: 45px;
  }
}

input[type='file'] {
  border-bottom: none;
}

::-webkit-file-upload-button {
  font-size: 18px;
  color: #00A19C;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: rgba(56, 180, 193, 0.3);
  padding: 9px;
  position: absolute;
}

textarea {
  border: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.logo {
  margin-top: 180px;
  width: 641px;
  height: 170px;
  @media screen #{$md} {
    width: 62.5% !important;
    max-width: 62.5% !important;
    height: auto;
  }
  @media screen #{$sm} {
    height: 100%;
    margin-top: 100px;
  }
}

h2 {
  color: $red;
  font-family: $Montserrat;
}

h4 {
  color: $bleuCanard;
  font-family: $Montserrat;
}

.btnProjet {
  -moz-border-image: -moz-linear-gradient(left, #C8CCCF 0%, #C8CCCF 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(left, #C8CCCF 0%, #C8CCCF 100%) !important;
  border-image: linear-gradient(to right, #C8CCCF 0%, #C8CCCF 100%) !important;
}

#h2Quisommesnous {
  color: $red;
  font-family: $Montserrat;
  padding-top: 40%;
  @media screen #{$md} {
    padding-top: 0 !important;
  }
  @media screen #{$sm} {
    line-height: 0px;
  }
}

#h2Client {
  margin-bottom: 100px;
}

#h2Carriere, .ulCarriere {
  padding-top: 117px;
}

#h2Carriere {
  @media screen #{$md} {
    text-align: center;
  }
}

.imgClient {
  border: 1px solid #95989A;
  margin: 10px;
  width: 233px;
}

.dotline {
  fill: none;
  stroke: #e6424a;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  stroke-dasharray: 0 28;
}

.blackHr {
  width: 75px;
  float: left;
  border: 1px solid black;
}

.greyHr {
  width: 75px;
  float: left;
  border: 1px solid #95989A;
}

#Dernierarticles {
  padding-bottom: 3%;
  h4 {
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    padding: 4px 10px;
    margin: 9px 20px;
  }
  .articles {
    padding-right: 0;
    padding-left: 0;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.16);
  }
  .descriptionArticle {
    background: #fff;
    padding-bottom: 20px;
  }
  .more-link {
    display: none;
  }
  span {
    color: $red;
  }
  p:first-of-type:not(.category) {
    padding: 0px 26px 0px 10px
  }
  a {
    padding-left: 20px;
    margin-bottom: 37px;
  }
  .category {
    background: $categoryHighTech;
    color: white;
    margin: 20px;
    padding: 0 15px;
  }
  .linkToBlog {
    color: $bleuCanard;
    background: rgba(#38B4C1, 0.3);
    padding: 10px;
    border-radius: 20px;
    &:hover {
      background: #00A19C;
      transition: 0.5s;
      color: white;
    }
  }
}

#Nousrecrutons {
  .btn-1-2:before, .btn-1-2:after {
    border-bottom: 80px solid #fff;
  }
  .buttonSwipeText {
    background-image: -webkit-linear-gradient(left, #E63147, #EB655C); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #E63147, #EB655C); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #E63147, #EB655C); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #E63147, #EB655C); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #E63147, #EB655C); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  padding: 5% 0 4% 0;
  background: url(../img/map.png);
  color: white;
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .logoHitpart {
    margin-top: 11%;
    @media screen #{$sm} {
      margin-top: 42%;
    }
    @media screen #{$sm} {
      margin-top: 21%;
    }
  }
}

#Poste {
  .social {
    padding: 0 20px;
  }
  li:not(.social) {
    font-size: 16px;
    &::before {
      content: '- ';
    }
  }
  input[type='file'] {
    border-bottom: none;
  }
  input[type='submit'] {
    font-size: 30px;
  }
  ::-webkit-file-upload-button {
    cursor: pointer;
    border: 2px solid #525455;
    border-radius: 30px;
    background: transparent;
    padding: 9px;
    position: absolute;
  }
}

#retirerFichier, #retirerDocument {
  &:before {
    color: $red;
  }
}


#About {
  .aboutDesc2 {
    padding: 77px 48px;
  }
  .description_1_block_1 {
    margin-top: 30px;
    @media screen #{$md} {
      margin-top: 70px;
    }
    @media screen and (max-width: 590px) {
      margin-top: 30px;
    }
  }
  .p-r-15-500px {
    @media screen and (max-width: 500px) {
      padding-right: 15px;
    }
  }
  .imgAboutDesc1 {
    margin-left: -50px;
    margin-top: -124px;
    width: 40%;
    position: relative;
    @media screen #{$md} {
      width: 40%;
      right: -109px;
    }

    @media screen and (max-width: 790px) {
      position: absolute;
      right: -69px;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .imgAboutDesc2 {
    margin-left: -50px;
    margin-top: -124px;
    width: 49%;
    position: relative;
    @media screen #{$md} {
      position: absolute;
      left: 73px;
      bottom: -155px;
      width: 56%;
    }
    @media (min-width: 590px) and (max-width: 790px) {
      position: absolute;
      left: 73px;
      bottom: -200px;
    }
    @media screen and (max-width: 590px) {
      bottom: -62px;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .annee, .chiffre {
    font-size: 90px;
    font-weight: 600;
    color: $red;
    opacity: 0.5;
    z-index: 1;
    right: 52px;
  }

  .fondation {
    float: right;
    margin-right: 38px;
    @media screen #{$md} {
      float: none;
      h4 {
        float: none;
      }
    }
    h4 {
      position: absolute;
      top: 82px;
      right: -299px;
    }
  }

  @media screen and (max-width: 1628px) {
    .chezHitpart {
      margin-top: 130px;
    }
  }

  .icon-guirlande {
    top: 114px;
    right: 129px;
  }
  .cds {
    top: 77px;
    left: 29px;
  }
  .icon-icon_2_humans {
    left: 58px;
    bottom: -65px;
    @media screen #{$md} {
      left: -30px;
      top: 90px;
    }
  }
  .trait_rouge_vertical {
    height: 250px;
    @media screen #{$md} {
      margin-left: 50%;
    }
    @media screen #{$sm} {
      margin-left: 22%;
    }
  }

  .trait_rouge_vertical_2 {
    position: absolute;
    left: 165px;
    top: 200px;
  }
  .trait_bleu_horizontal {
    margin-top: 149px;
  }
  .equipe {
    h4 {
      left: 145px;
      bottom: -29px;
      width: 339px;
      @media (min-width: 981px) and (max-width: 1122px) {
        left: 145px;
        bottom: -74px;
        width: 277px;
      }
    }
    .chiffre {
      @media screen #{$md} {
        margin-bottom: -15px;
      }
    }
  }
  @media (min-width: 981px) and (max-width: 1490px) {
    .cdsDesc {
      width: 62.5%;
      max-width: 62.5%;
      margin-left: 31.25%;
      .desc {
        width: 81.25%;
        max-width: 81.25%;
      }
    }
  }

  .desc {
    p {
      margin-left: -40px;
    }
  }

  .elipse_desk {
    margin-left: calc(50% + 181px);
  }
  .fondationMobile {
    h4 {
      top: 86px;
      left: 132px;
    }
    .icon-guirlande {
      top: 120px;
      left: 49px;
    }
  }
  .equipeMobile {
    @media screen #{$sm} {
      float: right;
      .icon-icon_2_humans {
        left: 156px;
      }
    }
    h4 {
      right: 45px;
      top: 86px;
      @media (min-width: 305px) and (max-width: 445px) {
        right: 0;
        float: right;
      }
    }
    .chiffre {
      margin-left: 43px;
      @media screen #{$sm} {
        float: right;
      }
      @media (min-width: 305px) and (max-width: 445px) {
        margin-left: 0px;
      }
    }
    .icon-icon_2_humans {
      top: 128px;
      left: 66px;
      @media screen #{$sm} {
        left: 156px;
        top: 111px;
      }
    }
  }
  @media screen #{$sm} {
    .elispe_mobile1 {
      margin-left: calc(50% + 39px);
      @media (min-width: 305px) and (max-width: 335px) {
        padding-top: 76px !important;
      }
    }
    .elispe_mobile2 {
      margin-left: calc(50% - 67px);
    }
  }
  .cdsMobile {
    .annee {
      top: -67px;
      left: 78px;
      @media screen and (max-width: 415px) {
        left: 25px;
      }
    }
  }
  .icon-Groupe-89 {
    font-size: 150px;
    position: absolute;
    top: 125px;
    right: 0px;
  }

  button {
    @media screen #{$sm} {
      width: 62.5% !important;
      max-width: 62.5% !important;
    }
  }

  .buttonAbout {
    padding: 20px 0;
  }
}

.boxShadow {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.16);
}

.noBoxShadow {
  box-shadow: none;
}



.bluePartenor {
  color: $bluePartenor !important;
}

.bgBluePartenor {
  background: $bluePartenor !important;
}

.bgWhite {
  background: #fff !important;
}

@media screen #{$sm} {
  .noBoxShadowSm {
    box-shadow: none;
  }
  .bgNoneSm {
    background: none !important;
  }
}

.champs_manquants, .messageErreur {
  color: $red;
}

.inputErreur {
  border-bottom: solid 2px;
  border-color: $red;
}

// Générique

.flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

.m-t-35p {
  margin-top: 35%;
}

.m-51-30 {
  margin: 51px 30px;
}

.m-l-30p {
  margin-left: 30%;
}

.m-l-md--32 {
  @media screen #{$md} {
    margin-left: -32px !important;
  }
}

.m-l-md--25 {
  @media screen #{$md} {
    margin-left: -25px !important;
  }
}

.m-md-0-90 {
  @media screen #{$md} {
    margin: 0 90px;
  }
}

.m-sm-0-50 {
  @media screen #{$sm} {
    margin: 0 50px;
  }
}

.m-t-112 {
  margin-top: 112px;
}

.m-l-14 {
  margin-left: 14px;
}

.m-l-sm-36 {
  @media screen #{$sm} {
    margin-left: 36px !important;
  }
}

.m-t-sm--20 {
  @media screen #{$sm} {
    margin-top: -20px !important;
  }
}

.m-l-sm--40 {
  margin-left: -40px;
}

.m-l-md-0 {
  @media screen #{$md} {
    margin-left: 0 !important;
  }
}

.m-l-sm-0 {
  @media screen #{$md} {
    margin-left: 0 !important;
  }
}

.p-r-104 {
  padding-right: 104px;
}

.fs-26 {
  font-size: 26px;
}

.t-3 {
  top: 3px;
}

.t-31 {
  top: 31px;
}

.t-16 {
  top: 16px;
}

.lh-0 {
  line-height: 0 !important;
}

.center {
  text-align: center;
}

.center-md {
  @media screen #{$md} {
    text-align: center !important;
  }
}

.center-sm {
  @media screen #{$sm} {
    text-align: center;
  }
}

.inline-block {
  display: inline-block;
}

.right {
  text-align: right;
}

.h33p {
  height: 33%;
}

.fw-600 {
  font-weight: 600;
}

.w-150 {
  width: 150px;
}

.relative {
  position: relative;
}

.z2 {
  z-index: 2;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.f-r-md {
  @media screen #{$md} {
    float: right;
  }
}

.f-l-md {
  @media screen #{$md} {
    float: left;
  }
}

.f-n-md {
  @media screen #{$md} {
    float: none;
  }
}

.f-l-sm {
  @media screen #{$sm} {
    float: left;
  }
}

.left-sm {
  @media screen #{$sm} {
    text-align: left !important;
  }
}

.vh100 {
  height: 100vw;
}

.p-l-10p {
  padding-left: 10%;
}

.p-b-sm-38 {
  padding-bottom: 38px !important;
}

.p-t-118 {
  padding-top: 118px;
}

.p-t-130 {
  padding-top: 130px;
}

.p-0-80 {
  padding: 0 80px;
}

.p-1102px-0-40 {
  @media (min-width: 981px) and (max-width: 1102px) {
    padding: 0 40px !important;
    .l-14 {
      left: 14px;
    }
  }
}

.p-0-120 {
  padding: 0 120px;
}

.p-70-0 {
  padding: 70px 0;
}

.p-20-0 {
  padding: 20px 0;
}

.p-b-100 {
  padding-bottom: 100px;
}

.h-45 {
  height: 45px;
}

// Fin Générique

.menu {
  padding: 50px 70px;
  background: white;
  position: fixed;
  color: $bluePartenor;
  z-index: 1;
  @media screen #{$md} {
    padding: 25px;
    .icon-menu::before {
      float: right;
    }
  }
}

@media screen #{$md} {
  .menuHoverWhite {
    color: rgb(33, 50, 102);
    transition: 1s;
    background: white;
    padding: 12px 0px;
    &::before {
      margin-top: 15px;
      margin-right: 30px;
      float: right;
    }
  }
}

@media screen #{$sm} {
  .menuHoverWhite {
    padding: 17px 0px;
  }
}

.menuHoverWhite {
  background: #fff;
}

.menuHoverHeader {
  color: white;
  background: none;
  &::before {
    margin-top: 30px;
    margin-right: 30px;
    @media screen #{$md} {
      float: right;
    }
  }
}

.lienMail {
  color:$bluePartenor;
  text-shadow:0 1px 0 lighten($bluePartenor,60%);
  display:inline-block;
  position:relative;
  transition:all 250ms;
  z-index:1000;
  &:before {
    content:"";
    z-index:-1;
    width:100%;
    height:0%;
    background:rgba(lighten($bluePartenor,20%),.16);
    bottom:0;
    left:0;
    position:absolute;
    transition:height 250ms;
  }
  &:hover{
    border-color:transparent;
    &:before{
      height:100%;
    }
  }
  &:hover {
    font-style: italic;
    color: black;
  }
  padding-bottom: 2px;
}

.lienTelDefault, .lienMailDefault {
  border-bottom: 1px solid #000;
  &:hover {
    font-style: italic;
    color: black;
  }
  color: black;
  cursor: pointer;
}

#Nousrecrutons {
  .lienMail, .lienTel {
    &:hover {
      font-style: italic;
    }
    border-bottom: 1px solid white;
    text-shadow: none;
    color: white;
  }
}
.underline {
  border-bottom: 1px solid #000;
}

.underlineGrey {
  border-bottom: 1px solid #95989A;
}

.hide-1490 {
  @media screen and (max-width: 1490px) {
    display: none;
  }
}

.hide-1628 {
  @media screen and (max-width: 1628px) {
    display: none;
  }
}

.fleche, .menu {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bleuClair {
  color: $bleuClair;
}

.white {
  color: white !important;
}

.black {
  color: black;
}

.red {
  color: $red !important;
}

.p-t-8p {
  padding-top: 8%;
}

.m-l-sm-55p {
  @media screen #{$sm} {
    margin-left: 55% !important;
  }
}

.m-l-190 {
  margin-left: 190px;
}

.m-t-140 {
  margin-top: 140px;
}

.p-t-5p {
  padding-top: 5%;
}

.p-t-10p {
  padding-top: 10%;
}

.p-50-0 {
  padding: 50px 0;
}

.left {
  text-align: left;
}

.l-80 {
  left: 80px;
}

.bgGrey {
  background: $bgGrey;
}

.grey {
  color: $grey;
}

.active {
  color: $hoverLink !important;
}

.activeExpertise {
  border-bottom: 6px solid #E63147;
  padding-bottom: 24px !important;
  @media screen #{$sm} {
    padding-bottom: 29px !important;
  }
}

.Opensans {
  font-family: $Opensans;
}

.bold {
  font-weight: bold;
}

@media screen #{$sm} {
  .activeMobile {
    color: black !important;
    border-bottom: 5px solid $red !important;
    line-height: 56px;
  }
}

.m-0-auto {
  margin: 0 auto;
}

@media screen and (max-width: 456px) {
  .p-t-47-456px {
    padding-top: 47px;
  }
}

/*Animation logo */
.fleche {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.down-to-top {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(15px);
  }
  60% {
    -webkit-transform: translateY(6px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(15px);
  }
  60% {
    -moz-transform: translateY(6px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(15px);
  }
  60% {
    -o-transform: translateY(6px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(6px);
  }
}

.animateFlecheAbout {
  top: 3px;
  &:hover {

  }
}

.flecheBounceRight {
  animation: bounceRight 2s infinite;
  -webkit-animation: bounceRight 2s infinite;
  -moz-animation: bounceRight 2s infinite;
  -o-animation: bounceRight 2s infinite;
}

.down-to-top {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(6px);
  }
}

@-moz-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(15px);
  }
  60% {
    -moz-transform: translateX(6px);
  }
}

@-o-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateX(0);
  }
  40% {
    -o-transform: translateX(15px);
  }
  60% {
    -o-transform: translateX(6px);
  }
}

@keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(6px);
  }
}

#Rectangle_89, #Rectangle_90 {
  stroke-dasharray: 1400;
  -webkit-animation: draw 4s ease-in;
}

#BarrePont1, #BarrePont2, #pilierBas1, #pilierBas2, #pilierBas3, #pilierBas4, #pilierHaut1, #pilierHaut2, #pilierHaut3 {
  display: none;
}

.animation {
  display: block !important;
  stroke-dasharray: 1400;
  -webkit-animation: draw 2.2s ease-in;
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 1400;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.fill {
  display: block !important;
  stroke-dasharray: 1400;
  -webkit-animation: draw 4s ease-in;
  animation: fadein 1s !important;
  -moz-animation: fadein 1s !important; /* Firefox */
  -webkit-animation: fadein 1s !important; /* Safari and Chrome */
  -o-animation: fadein 1s !important; /* Opera */
  fill: #e63147 !important;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.m-t-11p {
  margin-top: 11%;
}

.cls-3 {
  fill: none;
  stroke: #e6424a;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 13px;
  stroke-dasharray: 0 28;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

::-moz-placeholder { /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder { /* IE 10+ */
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;
}

#Menu {
  display: block;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: -345px;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  width: 345px;
}

.showMenu {
  left: 0px !important;
  -webkit-transition: 1s;
  transition: 1s;
}

#Content {
  float: left;
  width: 100%;
  max-width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.moveContent {
  margin-left: 345px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen #{$sm} {
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 3;
    display: none;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}